*.h5ad
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.gz
*.pkl
data/scGPT_CP/
data/scGPT_human/
data/save
analyses/calibration/baseline_outputs/
*.pt
outputs
*.png
*.json
*.zip
*.fa
.env
*.xlsx
*.tsv
*.pt
*.pkl
*.ckpt
*.egg-info
benchmark_results_plots.ipynb
*.png
*.pdf
*.npy
*.pth
*.sqlite
docker/**/results/**
*.vcc
data/gene_embeddings/PRESAGE/
misc.ipynb
data/gene_embeddings/Geneformer/
analyses/plotting/depricated/
analyses/plotting/gsea_input_for_R/*
!analyses/plotting/gsea_input_for_R/fgsea_all_results.csv
analyses/plotting/renv/
analyses/plotting/setup_renv.R
analyses/plotting/plotting.Rproj