# @package model
name: gears
type: docker
description: "GEARS perturbation prediction model"

docker:
  image: "cellsimbench/gears:latest"
  memory: "max"  # Memory limit for training (use "max" for no limit)
  cpus: "max"       # Number of CPU cores (use "max" for no limit)
  gpu: true      # Enable GPU support

# Model hyperparameters
hyperparameters:

  use_mse_loss: false
  use_direction_loss: true

  # Architecture parameters
  hidden_size: 64
  num_go_gnn_layers: 1
  num_gene_gnn_layers: 1
  decoder_hidden_size: 16
  
  # Training parameters
  epochs: 10
  lr: 0.001
  weight_decay: 0.0005
  batch_size: 32
  test_batch_size: 512
  
  # Graph construction parameters
  coexpress_threshold: 0.4
  num_similar_genes_go_graph: 20
  num_similar_genes_co_express_graph: 20
  
  # Regularization
  uncertainty: false
  uncertainty_reg: 1.0
  direction_lambda: 0.1 