# @package model
name: scgpt
type: docker
description: "scGPT perturbation prediction model"

docker:
  image: "cellsimbench/scgpt:latest"
  memory: "max"  # Memory limit for training (use "max" for no limit)
  cpus: "max"       # Number of CPU cores (use "max" for no limit)
  gpu: true      # Enable GPU support

# Model hyperparameters
hyperparameters:
  
  # Architecture parameters (from scGPT paper/pretrained models)
  embsize: 512
  nheads: 8
  d_hid: 512
  nlayers: 12
  n_layers_cls: 3
  dropout: 0.2
  
  # Training parameters
  max_epochs: 10
  lr: 0.0001
  weight_decay: 0.0
  batch_size: 32
  schedule_interval: 15
  amp: true  # Automatic mixed precision
  
  # scGPT-specific parameters
  include_zero_gene: "all"
  max_seq_len: 1200
  pad_token: "<pad>"
  pad_value: 0
  pert_pad_id: 2
  MVC: true
  CLS: false
  CCE: false
  ECS: false
  cell_emb_style: "cls"
  mvc_decoder_style: "inner product"
  use_fast_transformer: true
  pool_size: 300
  
  # Model location (pretrained) - will be mounted as volume
  model_loc_local: "data/models/scgpt/"
  model_loc: "/pretrained_model/"
  special_tokens: ["<pad>", "<cls>", "<eoc>"]
  
  # Data preprocessing
  dohvg: false
  dolog1p: false
  n_top_genes: 10000 